.card {
  border: 1px solid $black;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &-horisontal {
    flex-direction: row;
    img {
      max-width: 300px;
      width: 100%;
    }
  }

  &-body {
    padding: 10px;
    flex-grow: 1;
  }
  &-footer {
    padding: 10px;
  }
}
