[class*="g-col-"] {
  display: grid;
  gap: 30px;
}

.g-col {
  &-2 {
    grid-template-columns: 1fr 1fr;
  }

  &-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
