@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Nunito+Sans:ital,wght@300;600;700&display=swap");
/**************
GLOBAL
**************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.py {
  padding: 10rem 0;
}

.title h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
}

.title h2::after {
  content: "";
  display: block;
  height: 5px;
  width: 70px;
  background-color: #233785;
  margin: 30px auto 0;
}

.btn {
  text-transform: uppercase;
  padding: 2rem 3rem;
  border-radius: 5px;
  font-weight: 700;
  display: inline-block;
  cursor: pointer;
}

.btn-primary {
  background-color: #233785;
  color: #ffffff;
}

.btn-secondary {
  background-color: #ffffff;
  color: #000;
}

.col-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.topbar {
  background-color: #233785;
  color: #ffffff;
  padding: 10px 0;
  font-size: 1.4rem;
}

.topbar ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.topbar ul li {
  margin-right: 10px;
  border-right: 1px solid #ffffff;
  padding-right: 10px;
}

.topbar ul li:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

.topbar ul i {
  margin-right: 5px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.navbar-menu ul {
  display: flex;
  gap: 50px;
  font-weight: 700;
  font-size: 1.8rem;
  color: #808080;
}

.hero {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg-hero.jpg");
  background-size: cover;
  color: #ffffff;
}

.hero h1 {
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.hero div {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

.about-home article {
  margin-top: 3rem;
}

.about-home .wrapper {
  position: relative;
  color: #ffffff;
  overflow: hidden;
}

.about-home .wrapper:hover h3 {
  transform: translateY(100%);
}

.about-home .wrapper:hover div {
  transform: translateY(0);
}

.about-home .wrapper div {
  position: absolute;
  background-color: rgba(35, 55, 133, 0.8);
  padding: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: 0.4s ease;
  transform: translateY(100%);
}

.about-home .wrapper div p {
  flex-grow: 1;
  overflow-y: auto;
  line-height: 1.7;
}

.about-home h3 {
  position: absolute;
  background-color: #233785;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 5px 5px;
  text-transform: uppercase;
  transition: 0.4s ease;
}

.about-home h3 i {
  margin-right: 5px;
}

.about-home img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  display: block;
}
